*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: absolute;
    outline: none;
}

.canvas_container{
    margin-top: 0px;
    margin-left: 0px;
}
